---
import Layout from '../layouts/Site.astro';
---
<Layout title="Redirecting..." head="" desc="<a href='https://discord.gg/wDxDKJU2sj'>Click here</a> if you're not being redirected." hideFooter={true}>
</Layout>

<script type="text/javascript">
    setTimeout(() => {
      window.location.href = 'https://discord.gg/wDxDKJU2sj'; 
    }, 0);
  </script>