---
import Layout from '../layouts/Site.astro';
---
<Layout title="Redirecting..." desc="<a href='https://fluxer.gg/66jZrBpa'>Click here</a> if you're not being redirected.">
</Layout>

<script type="text/javascript">
    setTimeout(() => {
      window.location.href = 'https://fluxer.gg/66jZrBpa'; 
    }, 0);
  </script>