---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Home" head="" desc=`This is the <b>Axeon Network</b>. We run small community-oriented spaces and projects.`>
   <div>
      <hr>
      <div class="section">
         <div class="head">Chat...</div>
         <ul>
            <li id="list"><Icon name="discord" />&nbsp;<a href="/discord">Discord Server</a>&nbsp;<small>(primary)</small></li>
            <li id="list"><Icon name="stoat" />&nbsp;<a href="/stoat">Stoat Server</a></li>
            <li id="list"><Icon name="fluxer" />&nbsp;<a href="/fluxer">Fluxer Server</a></li>
         </ul>
       </div>
       <hr>
      <div class="section">
         <div class="head">Check out...</div>
         <ul>
            <li id="list"><Icon name="material-symbols:book-ribbon-outline-rounded" />&nbsp;<a href="/kurowiki">KuroWiki</a>&nbsp;<small>(<a href="https://github.com/Axeon-Network/kurowiki">source code</a>)</small></li>
         </ul>
       </div>
       <hr>
       <div class="section">
         <div class="head">Add our 88x31 button!</div>
            <div class="button8831">
               <img src="/img/8831/axeon.png" class="mybutton" title="Click to copy the HTML code!" data-copy=`&lt;a href="http://${d.domain}"&gt;&lt;img src="http://${d.domain}/img/8831/axeon.png"&gt;` style="cursor:pointer;">
               <img src="/img/8831/axeon2.png" class="mybutton" title="Click to copy the HTML code!" data-copy=`&lt;a href="http://${d.domain}"&gt;&lt;img src="http://${d.domain}/img/8831/axeon2.png"&gt;` style="cursor:pointer;">
               <div id="clicktocopy"></div><br>
           </div>
       </div>
       <script>
            const status = document.getElementById('clicktocopy');

            document.querySelectorAll('.mybutton').forEach(btn => {
              const element = btn as HTMLElement;
              element.addEventListener('click', () => {
             const text = element.dataset.copy;

            navigator.clipboard.writeText(text)
         });
     });
     </script>
</Layout>
