---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Home" head="" desc=`This is the <b>Axeon Network</b>. We run small community-oriented spaces and projects.`>
   <div>
      <hr>
      <div class="section">
         <div class="head">Chat...</div>
         <div class="grid horizontal" id="main">
            <div class="grid vertical">
               <Icon name="discord" />
               <span class="name">Discord Server</span>
               <div class="grid horizontal">
                  <a class="button" href="/discord">Join</a>
               </div>
            </div>
            <div class="grid vertical">
               <Icon name="stoat" />
               <span class="name">Stoat Server</span>
               <div class="grid horizontal">
                  <a class="button" href="/stoat">Join</a>
               </div>
            </div>
            <div class="grid vertical">
               <Icon name="fluxer" />
               <span class="name">Fluxer Server</span>
               <div class="grid horizontal">
                  <a class="button" href="/fluxer">Join</a>
               </div>
            </div>
         </div>
       </div>
       <hr>
      <div class="section">
         <div class="head">Check out...</div>
         <div class="grid">
            <div class="grid vertical">
               <Icon name="material-symbols:book-ribbon-outline-rounded" />
               <span class="name">KuroWiki</span>
               <div class="grid horizontal">
                  <a class="button" href="/kurowiki">Visit</a>
                  <a class="button" href="https://github.com/Axeon-Network/kurowiki">Source Code</a>
              </div>
            </div>
          </div>
       </div>
       <hr>
       <div class="section">
         <div class="head">Add our 88x31 button!</div>
            <div class="button8831">
               <img src="/img/8831/axeon.png" class="mybutton" title="Click to copy the HTML code!" data-copy=`&lt;a href="http://${d.domain}"&gt;&lt;img src="http://${d.domain}/img/8831/axeon.png"&gt;` style="cursor:pointer;">
               <img src="/img/8831/axeon2.png" class="mybutton" title="Click to copy the HTML code!" data-copy=`&lt;a href="http://${d.domain}"&gt;&lt;img src="http://${d.domain}/img/8831/axeon2.png"&gt;` style="cursor:pointer;">
               <div id="clicktocopy"></div><br>
           </div>
       </div>
       <script>
            const status = document.getElementById('clicktocopy');

            document.querySelectorAll('.mybutton').forEach(btn => {
              const element = btn as HTMLElement;
              element.addEventListener('click', () => {
             const text = element.dataset.copy;

            navigator.clipboard.writeText(text)
         });
     });
     </script>
</Layout>