---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
---

<Layout>
   <div class="center">
      <img src="../../img/logo.png" style="width:200px; height:200px; border-radius:100%">
   <h1 id="title">Axeon Network</h1>
   <small>(est. 2017)</small>
   <div>
      <br>
       <a id="link" href="/discord">Discord Server</a> · <a id="link" href="/kurowiki">KuroWiki</a>
       </div>
         </div>
   </div>
</Layout>
