---
import Layout from '../layouts/Site.astro';
---
<Layout title="Redirecting..." desc="<a href='https://stt.gg/JaMp6gXf'>Click here</a> if you're not being redirected.">
</Layout>

<script type="text/javascript">
    setTimeout(() => {
      window.location.href = 'https://stt.gg/JaMp6gXf'; 
    }, 0);
  </script>